{% extends 'base.html' %}

{% block main_content %}
<div class="container-fluid">
  <h1>Active leases</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Account ID</th>
        <th scope="col">User</th>
        <th scope="col">Expires</th>
        <th scope="col">Lease ID</th>
      </tr>
    </thead>
    <tbody>
      {% for lease in active_leases %}
      <tr>
        <td>{{ lease.account }}</td>
        <td>{{ lease.user }}</td>
        <td>{{ lease.expires }}</td>
        <td>{{ lease.lease_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
