<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lease Manager</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
  <main class="container">
    <nav>
      <ul>
        <li><strong>Lease Manager</strong></li>
      </ul>
      <ul>
        <li><a href="/">Active Leases</a></li>
        <li><a href="/create">Create Lease</a></li>
        <li><a href="/invalidate">Invalidate Lease</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
